<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Exercicio 1</h1>

<p>
    Leia um vetor de 12 posições e em seguida ler também dois valores X e Y <br>
    quaisquer correspondentes a duas posições no vetor. Ao final seu programa deverá<br>
    escrever a soma dos valores encontrados nas respectivas posições X e Y.
</p>

    <h4>X: {{x}} </h4>
    <h4>Y: {{y}} </h4>
    <h4>Soma de X + Y: {{s}} </h4>

    <input type="button" value="Refresh" onClick="window.location.reload()"> <br>

    <a href="{% url 'home' %}">Back to list</a>


</body>
</html>